// Board Standard
$standard-title: #055A5B;
$standard-light: #E6E6E6;
$standard-neutral: #BBAB9B;
$standard-dark: #055A5B;
//$standard-border

// Board Active
$active-exists: #C7A748; //TODO change these
$active-correct: #53bd86;
$active-incorrect: #787C7E;

