@use 'partials/colors' as *;
@use 'partials/mixins' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-Family: 'Poppins', Sans-Serif;
    font-Size: 0.875rem;
    margin: 0;
    padding: 0;
    background-color: $standard-light;
    color: $standard-title; // TODO
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-Family: 'Abril Fatface', Cursive;
    

    &__title {
        font-size: 2.25rem;
        font-weight: bold;
        letter-spacing: 0.313rem;
        padding: 1rem;
        border-bottom: 1px solid $standard-title;
        border-top: 1px solid $standard-neutral;
    }
}

.board {
    width: 21.875rem;
    height: 26.25rem;
    margin: 0 auto;
    margin-top: 0.188rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__container {
        width: 100vw;
        display: flex;
        justify-content: center;
        // background-color: pink;
    }
}

.tile {
    /* Box */
    border: 2px solid #BBAB9B;
    width: 3.75rem;
    height: 3.75rem;
    margin: 0.156rem;
    border-radius: 0.313rem;

    /* Text */
    color: $standard-title; //TODO change this color
    font-size: 2.25rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}



.display {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red; // TODO doesn;t change anything
    font-Family: 'Poppins', Sans-Serif;
    font-Size: 0.875rem;


    &__text {
        padding: 1rem;
        color: red; // TODO doesn't change anything
        border-top: 1px solid $standard-title;
        border-bottom: 1px solid $standard-neutral; // TODO - make this border top / bottom thing a mixin
        font-Family: 'Abril Fatface', Cursive;
    }
}

.keyboard {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }   
}

.keyboard-row {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include tablet {
        width: 40rem;
    }
}

.key-tile {
    width: 1.75rem;
    height: 2rem;
    margin: 1px;
    border: 1px solid $standard-title;
    background-color: $standard-light;
    border-radius: 0.313rem;

    /* Text */
    font-size: 0.625rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $standard-title;
    font-weight: 800;

    // &:hover {
    //     cursor: pointer;
    // }

    @include tablet {
        width: 2.25rem;
        height: 2.5rem;
        font-size: 1.25rem;
    }
}

.enter-key-tile {
    width: 5rem;
    height: 2rem;
    margin: 1px;
    border: 1px solid $standard-title;  //TODO - make key tile stylings a mixin OR enter key a bem modifier
    background-color: $standard-light;
    color: $standard-title;
    border-radius: 0.313rem;

    /* Text */
    font-size: 0.625rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    // &:hover {
    //     cursor: pointer;
    // }

    @include tablet {
        width: 6rem;
        height: 2.5rem;
        font-size: 1.25rem;  
    }
}

.correct {
    background-color: $active-correct;  // TODO Change these colors
    color: $standard-light;
    border-color: white;
}

.present {
    background-color: $active-exists;   // TODO Change these colors
    color: $standard-light;
    border-color: red;
}

.absent {
    background-color: $active-incorrect;
    color: $standard-light;
    border-color:white;
}

.dark-mode {
    background-color: $standard-dark;
    color: $standard-light;
    display:inline-block;
    padding:0.35em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;   
    font-weight:300;
  
    text-align:center;
    transition: all 0.2s;
}


